.dashboard-config {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

.header-container {
    background-color: #53a040;
    color: white;
    padding: 5px;
    border-radius: 20px;
    width: 100%;
    text-align: left;
    text-indent: 30px;
}

.title-documentsConfig {
    font-size: 15px;;
}